@model RestauranteWeb.Models.Prato

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Prato</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2">Nome do Prato</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NomePrato)
                @Html.ValidationMessageFor(model => model.NomePrato)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Preço do Prato</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecoPrato)
                @Html.ValidationMessageFor(model => model.PrecoPrato)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
